@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: backout;
  src: url(/assets/BackOut/web/backoutwebwebfont.woff);
}
@font-face {
  font-family: myriad;
  src: url(/assets/MyriadPro/MyriadPro-Light.otf);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px 15px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-color: rgb(227, 190, 39);
  border-style: solid;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-width: 2px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}
.card .card-image {
  display: flex;
  -o-object-fit: crop;
     object-fit: crop;
  height: 80%;
  min-height: 100px;
  width: 100%;
  border-top-right-radius: 15px;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.card h2 {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-top-right-radius: 15px;
  z-index: 2;
  font-family: backout;
  font-weight: lighter;
  color: white;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.card .card-paragraph {
  padding-bottom: 20px;
  font-family: myriad;
  height: 20%;
}

.tags {
  display: flex;
  align-content: justify;
  height: 20px;
  font-family: myriad;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;
}
.tags .tag1 {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: green;
  color: green;
}
.tags .tag2 {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(227, 142, 68);
  color: rgb(227, 142, 68);
}
.tags .tag3 {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: purple;
  color: purple;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.header .logo {
  display: flex;
  width: 10px;
  font-family: backout;
  z-index: 2;
}
.header .link {
  color: white;
  text-decoration: none;
  padding: 5px 25px 5px 25px;
  font-family: myriad;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  text-align: center;
  z-index: 5;
  transition: border-color 2s ease;
}
.header .link:hover {
  color: yellow;
  border-color: yellow;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header .navigācija {
  margin-left: auto;
  margin-top: 25px;
  z-index: 5;
}

* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  position: relative;
}
.wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .banner-card {
  position: absolute;
  width: 50vw;
  max-width: 500px;
  min-width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .banner-card .title {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 40%;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: backout;
  color: yellow;
  position: absolute;
  top: -80px;
}
.wrapper .banner-card .paragraph {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 50vw;
  max-width: 500px;
  min-width: 100px;
  padding: 20px;
  border-radius: 10px;
  font-family: myriad;
  border-style: solid;
  border-color: yellow;
  border-width: 0.3px;
  z-index: -1;
}
.wrapper .gradient {
  bottom: 0px;
  width: 100%;
  height: 8px;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(90deg, rgb(212, 187, 27), rgb(174, 105, 14), rgb(95, 7, 7) 20%, rgb(75, 3, 75));
  background-size: 500%;
  animation: gradient infinite 3s linear;
}
@keyframes gradient {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0%;
  }
}

@media (max-width: 750px) {
  .wrapper video {
    width: 100%;
    height: auto;
  }
  .wrapper {
    height: auto;
  }
  .header {
    width: 100%;
  }
  .header .navigācija {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .card {
    min-height: 350px;
  }
  .fern {
    display: none;
  }
  .mobile-fern {
    display: flex;
  }
}
@media (min-width: 751px) {
  .mobile-fern {
    display: none;
  }
  .fern {
    display: flex;
  }
}
@media (max-widtd: 3840px) {
  .fern {
    display: none;
  }
  .mobile-fern {
    display: none;
  }
}
.footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  background: black;
  height: 120px;
  padding: 20px 20px;
}
.footer .social-icons {
  display: flex;
  height: 80px;
  margin-right: auto;
}
.footer .social-icons .social-icon {
  height: 100%;
  width: auto;
  padding: 10px;
  fill: yellow;
}
.footer .social-icons .social-icon:hover {
  fill: purple;
  transition: ease-in 1s;
}
.footer .footer-logo-tropico {
  display: flex;
  align-self: right;
  position: relative;
  height: 80px;
  align-self: end;
  margin-left: auto;
}

.footer-fern {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  z-index: -1;
}
.footer-fern .fern {
  width: 100%;
}
.footer-fern .mobile-fern {
  width: 100%;
}/*# sourceMappingURL=main.css.map */